
		/* Prevent copy paste for all elements except text fields */
		*  { 
		-webkit-user-select:none;
		-webkit-tap-highlight-color:rgba(255, 255, 255, 0); 
		}
		
		input, textarea  { 
			-webkit-user-select:text; 
		}
		
		body { 
		background-color:white; color:black 
		}

        img#smallImage {
            display:none;
            width:160px;
            height:160px;}
    
        img#largeImage{
            display:none;
        }