
/* Prevent copy paste for all elements except text fields */
*  { 
	-webkit-user-select:none;
	-webkit-tap-highlight-color:rgba(255, 255, 255, 0); 
}
	
input, textarea  { 
	-webkit-user-select:text; 
}

body { 
	background: #0794f9;
	color:black; 
}

img#smallImage {
    display:none;
    width:90em;
    margin: auto;
}
    
img#largeImage{
    display:none;
    width: 100em;
    margin: auto;
    margin-top: 10px;
}

button{
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 70%;
	padding: 10px;
	background: #fd8c00;
	box-shadow:0px 0px 4px black;
	border-radius: 10px;
}

section:nth-of-type(2){
	border-top: #fff solid;
	margin-top: 10px;
	padding-top: 10px;
}
